<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.benjamino.emoji_wine</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>16C31F25-D980-4CA9-A952-E4EF60EF090F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C650A472-C9E4-412F-A481-8B4F8E51A05E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3A4561AA-57B0-416C-A8F2-9201E3E2769C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4BBFE344-B65E-448A-9D5F-08DAA3CB8E2A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3F551AFE-568B-4E48-904E-EC966BEF9267</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CA37797D-2228-4350-836C-EC35177DCB08</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4BBFE344-B65E-448A-9D5F-08DAA3CB8E2A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C1C3E31C-36AA-479E-95EF-3FBF29A692A5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>17312038-2511-4230-8154-6A564F5A90BE</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E599B612-FFF1-40CE-A7E9-241C2DDD4CB0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>D94CA821-3A20-48F6-A157-81904AB19084</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6C6E92F8-C2CC-444A-8983-EE1E135CDABF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>A93B2E89-A4AE-4A45-AC82-537E051D66BE</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>50EFDCBF-6709-4E59-8D96-25B875304023</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EC533241-BACE-443C-A018-2E6968EBB8A2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>FABA22E0-A189-4F0B-A474-EA1D42125563</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>728C691A-5264-41C1-9BB7-C948E2AA9CD6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>1ACD646B-D2E9-4FBC-970E-EF85AAB2CA61</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>19628780-1A9C-4A0B-A695-B0F06B0D5702</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>8F04479D-9D18-4F22-B096-2B578A4990E4</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>42643556-EA15-49CE-ADDF-95B3E8A5A3D1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>774B7669-3018-40F2-A01A-C02995278DBE</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>51391580-3F92-4C6C-88E0-74507148D42E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>99DCB556-5C50-4435-A740-FA7772E6A6C6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5AFAD8F2-B7E5-423D-91CF-1A3F311BBDE5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>99DCB556-5C50-4435-A740-FA7772E6A6C6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>5B589A8E-0D1A-4A17-9F2F-27D064B8F038</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3A4561AA-57B0-416C-A8F2-9201E3E2769C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>6A0FD0BF-DCF2-4A78-8C0A-A89608EF3065</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CA37797D-2228-4350-836C-EC35177DCB08</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6C6E92F8-C2CC-444A-8983-EE1E135CDABF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6A0FD0BF-DCF2-4A78-8C0A-A89608EF3065</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>FABA22E0-A189-4F0B-A474-EA1D42125563</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CA37797D-2228-4350-836C-EC35177DCB08</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>17312038-2511-4230-8154-6A564F5A90BE</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3F551AFE-568B-4E48-904E-EC966BEF9267</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>D94CA821-3A20-48F6-A157-81904AB19084</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>99DCB556-5C50-4435-A740-FA7772E6A6C6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>16C31F25-D980-4CA9-A952-E4EF60EF090F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>FABA22E0-A189-4F0B-A474-EA1D42125563</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>ACEE12AF-C695-4ACC-A11F-02784CFAEA8F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>17312038-2511-4230-8154-6A564F5A90BE</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A25C0DF7-A6A9-4FDE-901B-07B09DD3679E</key>
		<array/>
		<key>A8A0133F-36A1-43DD-9356-FA4FD8DEB419</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3A4561AA-57B0-416C-A8F2-9201E3E2769C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ACEE12AF-C695-4ACC-A11F-02784CFAEA8F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C650A472-C9E4-412F-A481-8B4F8E51A05E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B7087A86-941C-479B-B590-41A7F96FBEE0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BE665CF9-E314-4390-8042-C5C1EBF9A609</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BE665CF9-E314-4390-8042-C5C1EBF9A609</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>19527210-0ADC-4179-BAB9-82A03C19D378</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C1C3E31C-36AA-479E-95EF-3FBF29A692A5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A25C0DF7-A6A9-4FDE-901B-07B09DD3679E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C650A472-C9E4-412F-A481-8B4F8E51A05E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>50EFDCBF-6709-4E59-8D96-25B875304023</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CA37797D-2228-4350-836C-EC35177DCB08</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EB0DB006-B502-4BC0-8E38-3ED4EC153272</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B7087A86-941C-479B-B590-41A7F96FBEE0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DA52D809-5FBC-44C6-9D2D-6A936FA6431D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5B589A8E-0D1A-4A17-9F2F-27D064B8F038</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E06CBF7C-373F-4989-AD9D-77B601FA1E06</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DA52D809-5FBC-44C6-9D2D-6A936FA6431D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Benjamin Oddou</string>
	<key>description</key>
	<string>🍷 Find the most refined emojis</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Emoji Wine</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>api</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<false/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>EC533241-BACE-443C-A018-2E6968EBB8A2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{var:split2}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>728C691A-5264-41C1-9BB7-C948E2AA9CD6</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Loading emojis...</string>
				<key>script</key>
				<string>python3 wine.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>🍷 Find the most refined emojis</string>
				<key>title</key>
				<string>Emoji Wine</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>16C31F25-D980-4CA9-A952-E4EF60EF090F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>emoji</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>51391580-3F92-4C6C-88E0-74507148D42E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:split1}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>_api</string>
						<key>outputlabel</key>
						<string>api</string>
						<key>uid</key>
						<string>FABA22E0-A189-4F0B-A474-EA1D42125563</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:split1}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>_copy</string>
						<key>outputlabel</key>
						<string>copy</string>
						<key>uid</key>
						<string>1ACD646B-D2E9-4FBC-970E-EF85AAB2CA61</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:split1}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>_paste</string>
						<key>outputlabel</key>
						<string>paste</string>
						<key>uid</key>
						<string>8F04479D-9D18-4F22-B096-2B578A4990E4</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:split1}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>_web</string>
						<key>outputlabel</key>
						<string>web</string>
						<key>uid</key>
						<string>774B7669-3018-40F2-A01A-C02995278DBE</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>50EFDCBF-6709-4E59-8D96-25B875304023</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:style}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>list</string>
						<key>outputlabel</key>
						<string>list</string>
						<key>uid</key>
						<string>FABA22E0-A189-4F0B-A474-EA1D42125563</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:style}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>grid</string>
						<key>outputlabel</key>
						<string>grid</string>
						<key>uid</key>
						<string>17312038-2511-4230-8154-6A564F5A90BE</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>99DCB556-5C50-4435-A740-FA7772E6A6C6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>;</string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>0</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>C650A472-C9E4-412F-A481-8B4F8E51A05E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{var:split2}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>19628780-1A9C-4A0B-A695-B0F06B0D5702</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>{var:trigger1}</string>
				<key>subtext</key>
				<string>🍷 Find the most refined emojis</string>
				<key>text</key>
				<string>Emoji Wine</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5AFAD8F2-B7E5-423D-91CF-1A3F311BBDE5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>columncount</key>
				<integer>5</integer>
				<key>filterable</key>
				<true/>
				<key>fixedorder</key>
				<true/>
				<key>imageaspect</key>
				<integer>2</integer>
				<key>inputfile</key>
				<string>wine.py</string>
				<key>inputtype</key>
				<integer>1</integer>
				<key>loadingtext</key>
				<string>Loading emojis...</string>
				<key>showsubtitles</key>
				<false/>
				<key>showtitles</key>
				<true/>
				<key>subtitlesinfooter</key>
				<false/>
				<key>titlesinfooter</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.userinterface.grid</string>
			<key>uid</key>
			<string>ACEE12AF-C695-4ACC-A11F-02784CFAEA8F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:split2}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>42643556-EA15-49CE-ADDF-95B3E8A5A3D1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>api</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>A8A0133F-36A1-43DD-9356-FA4FD8DEB419</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python3 api.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A25C0DF7-A6A9-4FDE-901B-07B09DD3679E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>unstackview</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.hidealfred</string>
			<key>uid</key>
			<string>C1C3E31C-36AA-479E-95EF-3FBF29A692A5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:trigger2}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Loading elements...</string>
				<key>script</key>
				<string>python3 harvest.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>🍇 Downloads the latest data from unicode.org</string>
				<key>title</key>
				<string>Refresh the API</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>5B589A8E-0D1A-4A17-9F2F-27D064B8F038</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>harvest</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>E06CBF7C-373F-4989-AD9D-77B601FA1E06</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>harvest</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<false/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>E599B612-FFF1-40CE-A7E9-241C2DDD4CB0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:split1}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>_api</string>
						<key>outputlabel</key>
						<string>api</string>
						<key>uid</key>
						<string>17312038-2511-4230-8154-6A564F5A90BE</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:split1}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>_rerun</string>
						<key>outputlabel</key>
						<string>rerun</string>
						<key>uid</key>
						<string>D94CA821-3A20-48F6-A157-81904AB19084</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:split1}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>_tags</string>
						<key>outputlabel</key>
						<string>tags</string>
						<key>uid</key>
						<string>A93B2E89-A4AE-4A45-AC82-537E051D66BE</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>4BBFE344-B65E-448A-9D5F-08DAA3CB8E2A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>;</string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>0</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>3A4561AA-57B0-416C-A8F2-9201E3E2769C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>_lib</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>DA52D809-5FBC-44C6-9D2D-6A936FA6431D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>subtext</key>
				<string>Input the name of the tag</string>
				<key>text</key>
				<string>New tag</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>{query}</string>
				<key>usecustominputarg</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6A0FD0BF-DCF2-4A78-8C0A-A89608EF3065</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.showalfred</string>
			<key>uid</key>
			<string>EB0DB006-B502-4BC0-8E38-3ED4EC153272</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>harvest</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<false/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>19527210-0ADC-4179-BAB9-82A03C19D378</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python3 tags.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B7087A86-941C-479B-B590-41A7F96FBEE0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:split2}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>new</string>
						<key>outputlabel</key>
						<string>new</string>
						<key>uid</key>
						<string>FABA22E0-A189-4F0B-A474-EA1D42125563</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:split2}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>emoji|delete</string>
						<key>outputlabel</key>
						<string>emoji|delete</string>
						<key>uid</key>
						<string>17312038-2511-4230-8154-6A564F5A90BE</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:split2}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>modify</string>
						<key>outputlabel</key>
						<string>modify</string>
						<key>uid</key>
						<string>D94CA821-3A20-48F6-A157-81904AB19084</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>6C6E92F8-C2CC-444A-8983-EE1E135CDABF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>ǀ</string>
				<key>replacestring</key>
				<string>;</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>BE665CF9-E314-4390-8042-C5C1EBF9A609</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>CA37797D-2228-4350-836C-EC35177DCB08</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>subtext</key>
				<string>Input a new name for the tag</string>
				<key>text</key>
				<string>Modify {var:split5}</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>custominputarg</key>
				<string>{var:split5}</string>
				<key>usecustominputarg</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3F551AFE-568B-4E48-904E-EC966BEF9267</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># 🎩 Alfred Emoji Wine

✨ *Find the most refined emojis* ✨

## ✅ Prerequisites

* MacOS.
* Alfred 5. Note that the [Alfred Powerpack](https://www.alfredapp.com/powerpack/) is required to use workflows.
* Requires **python 3.8** or above.

## 🧰 Setup the workflow

Install Python 3.8 or above. Check your version with :

`python --version`

## 🧙‍♂️ Invoke the workflow

There is 2 flows in this workflow :

1. The first one allows you to display emojis. It can be triggered by writing `wine` keyword.
2. The second allows you to build the local api according the selected language. You can invoke this flow with the `harvest` keyword.

You can edit these triggers (flagged with a `🕹️` symbol) in the user configuration panel.

## 🤖 Usage of the workflow

Go to the dedicated [GitHub repository](https://github.com/BenjaminOddou/alfred-emoji-wine) page to check the documentation

© Benjamin Oddou</string>
	<key>uidata</key>
	<dict>
		<key>16C31F25-D980-4CA9-A952-E4EF60EF090F</key>
		<dict>
			<key>xpos</key>
			<real>285</real>
			<key>ypos</key>
			<real>205</real>
		</dict>
		<key>19527210-0ADC-4179-BAB9-82A03C19D378</key>
		<dict>
			<key>xpos</key>
			<real>1515</real>
			<key>ypos</key>
			<real>915</real>
		</dict>
		<key>19628780-1A9C-4A0B-A695-B0F06B0D5702</key>
		<dict>
			<key>xpos</key>
			<real>1025</real>
			<key>ypos</key>
			<real>325</real>
		</dict>
		<key>3A4561AA-57B0-416C-A8F2-9201E3E2769C</key>
		<dict>
			<key>xpos</key>
			<real>580</real>
			<key>ypos</key>
			<real>730</real>
		</dict>
		<key>3F551AFE-568B-4E48-904E-EC966BEF9267</key>
		<dict>
			<key>xpos</key>
			<real>1025</real>
			<key>ypos</key>
			<real>1000</real>
		</dict>
		<key>42643556-EA15-49CE-ADDF-95B3E8A5A3D1</key>
		<dict>
			<key>xpos</key>
			<real>1025</real>
			<key>ypos</key>
			<real>450</real>
		</dict>
		<key>4BBFE344-B65E-448A-9D5F-08DAA3CB8E2A</key>
		<dict>
			<key>xpos</key>
			<real>685</real>
			<key>ypos</key>
			<real>705</real>
		</dict>
		<key>50EFDCBF-6709-4E59-8D96-25B875304023</key>
		<dict>
			<key>xpos</key>
			<real>685</real>
			<key>ypos</key>
			<real>255</real>
		</dict>
		<key>51391580-3F92-4C6C-88E0-74507148D42E</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>205</real>
		</dict>
		<key>5AFAD8F2-B7E5-423D-91CF-1A3F311BBDE5</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>335</real>
		</dict>
		<key>5B589A8E-0D1A-4A17-9F2F-27D064B8F038</key>
		<dict>
			<key>xpos</key>
			<real>285</real>
			<key>ypos</key>
			<real>700</real>
		</dict>
		<key>6A0FD0BF-DCF2-4A78-8C0A-A89608EF3065</key>
		<dict>
			<key>xpos</key>
			<real>1025</real>
			<key>ypos</key>
			<real>830</real>
		</dict>
		<key>6C6E92F8-C2CC-444A-8983-EE1E135CDABF</key>
		<dict>
			<key>xpos</key>
			<real>800</real>
			<key>ypos</key>
			<real>920</real>
		</dict>
		<key>728C691A-5264-41C1-9BB7-C948E2AA9CD6</key>
		<dict>
			<key>xpos</key>
			<real>1025</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>99DCB556-5C50-4435-A740-FA7772E6A6C6</key>
		<dict>
			<key>xpos</key>
			<real>200</real>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>A25C0DF7-A6A9-4FDE-901B-07B09DD3679E</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>1025</real>
			<key>ypos</key>
			<real>575</real>
		</dict>
		<key>A8A0133F-36A1-43DD-9356-FA4FD8DEB419</key>
		<dict>
			<key>xpos</key>
			<real>285</real>
			<key>ypos</key>
			<real>555</real>
		</dict>
		<key>ACEE12AF-C695-4ACC-A11F-02784CFAEA8F</key>
		<dict>
			<key>xpos</key>
			<real>285</real>
			<key>ypos</key>
			<real>335</real>
		</dict>
		<key>B7087A86-941C-479B-B590-41A7F96FBEE0</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>1275</real>
			<key>ypos</key>
			<real>915</real>
		</dict>
		<key>BE665CF9-E314-4390-8042-C5C1EBF9A609</key>
		<dict>
			<key>xpos</key>
			<real>1440</real>
			<key>ypos</key>
			<real>945</real>
		</dict>
		<key>C1C3E31C-36AA-479E-95EF-3FBF29A692A5</key>
		<dict>
			<key>xpos</key>
			<real>905</real>
			<key>ypos</key>
			<real>605</real>
		</dict>
		<key>C650A472-C9E4-412F-A481-8B4F8E51A05E</key>
		<dict>
			<key>xpos</key>
			<real>580</real>
			<key>ypos</key>
			<real>295</real>
		</dict>
		<key>CA37797D-2228-4350-836C-EC35177DCB08</key>
		<dict>
			<key>xpos</key>
			<real>1200</real>
			<key>ypos</key>
			<real>945</real>
		</dict>
		<key>DA52D809-5FBC-44C6-9D2D-6A936FA6431D</key>
		<dict>
			<key>xpos</key>
			<real>205</real>
			<key>ypos</key>
			<real>730</real>
		</dict>
		<key>E06CBF7C-373F-4989-AD9D-77B601FA1E06</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>700</real>
		</dict>
		<key>E599B612-FFF1-40CE-A7E9-241C2DDD4CB0</key>
		<dict>
			<key>xpos</key>
			<real>1025</real>
			<key>ypos</key>
			<real>700</real>
		</dict>
		<key>EB0DB006-B502-4BC0-8E38-3ED4EC153272</key>
		<dict>
			<key>xpos</key>
			<real>1315</real>
			<key>ypos</key>
			<real>875</real>
		</dict>
		<key>EC533241-BACE-443C-A018-2E6968EBB8A2</key>
		<dict>
			<key>xpos</key>
			<real>1025</real>
			<key>ypos</key>
			<real>70</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>wine</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>search emojis.</string>
			<key>label</key>
			<string>🕹️ Trigger 1</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>trigger1</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>harvest</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>refresh the api and configure tags.</string>
			<key>label</key>
			<string>🕹️ Trigger 2</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>trigger2</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>en</string>
				<key>pairs</key>
				<array>
					<array>
						<string>🇬🇧 English</string>
						<string>en</string>
					</array>
					<array>
						<string>🇫🇷 Français</string>
						<string>fr</string>
					</array>
					<array>
						<string>🇪🇸 Español</string>
						<string>es</string>
					</array>
					<array>
						<string>🇵🇹 Português</string>
						<string>pt</string>
					</array>
					<array>
						<string>🇮🇹 Italiano</string>
						<string>it</string>
					</array>
					<array>
						<string>🇩🇪 Deutsch</string>
						<string>de</string>
					</array>
					<array>
						<string>🇳🇱 Nederlands</string>
						<string>nl</string>
					</array>
					<array>
						<string>🇳🇴 Norsk</string>
						<string>no</string>
					</array>
					<array>
						<string>🇸🇪 Svenska</string>
						<string>sv</string>
					</array>
					<array>
						<string>🇩🇰 Dansk</string>
						<string>da</string>
					</array>
					<array>
						<string>🇮🇩 Melayu</string>
						<string>ms</string>
					</array>
					<array>
						<string>🇸🇦 ٱلْعَرَبِيَّة</string>
						<string>ar</string>
					</array>
					<array>
						<string>🇷🇺 Русский</string>
						<string>ru</string>
					</array>
					<array>
						<string>🇨🇳 中文</string>
						<string>zh</string>
					</array>
					<array>
						<string>🇨🇳 繁體中文</string>
						<string>zh-Hant</string>
					</array>
					<array>
						<string>🇯🇵 日本語</string>
						<string>ja</string>
					</array>
					<array>
						<string>🇰🇷 한국어</string>
						<string>ko</string>
					</array>
					<array>
						<string>🇮🇳 हिंदी</string>
						<string>hi</string>
					</array>
					<array>
						<string>🇮🇳 मराठी</string>
						<string>mr</string>
					</array>
					<array>
						<string>🇮🇳 తెలుగు</string>
						<string>te</string>
					</array>
					<array>
						<string>🇧🇩 বাংলা</string>
						<string>bn</string>
					</array>
					<array>
						<string>🇱🇰 தமிழ்</string>
						<string>ta</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>select the language you prefer.
note: not all emojis are available in all languages.</string>
			<key>label</key>
			<string>🌐 Language</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>language</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>10</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>add transparent margins to icons (in pixels).</string>
			<key>label</key>
			<string>✂️ Padding</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>padding</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>list</string>
				<key>pairs</key>
				<array>
					<array>
						<string>List 🔢</string>
						<string>list</string>
					</array>
					<array>
						<string>Grid 🖼️</string>
						<string>grid</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>choose between list or grid view.</string>
			<key>label</key>
			<string>🪩 Style</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>style</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>emojipedia.org</string>
				<key>pairs</key>
				<array>
					<array>
						<string>EmojiPedia 📙</string>
						<string>emojipedia.org</string>
					</array>
					<array>
						<string>EmojiTerra 📘</string>
						<string>emojiterra.com</string>
					</array>
					<array>
						<string>EmojiAll 📕</string>
						<string>emojiall.com</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>select your online emoji dictionary.</string>
			<key>label</key>
			<string>📖 Emoji Dictionary</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>emoji_dictionary</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>all</string>
				<key>pairs</key>
				<array>
					<array>
						<string>🎨 All</string>
						<string>all</string>
					</array>
					<array>
						<string>👋 None</string>
						<string>none</string>
					</array>
					<array>
						<string>👋🏻 Light</string>
						<string>light skin tone</string>
					</array>
					<array>
						<string>👋🏼 Medium-Light</string>
						<string>medium-light skin tone</string>
					</array>
					<array>
						<string>👋🏽 Medium</string>
						<string>medium skin tone</string>
					</array>
					<array>
						<string>👋🏾 Medium-Dark</string>
						<string>medium-dark skin tone</string>
					</array>
					<array>
						<string>👋🏿 Dark</string>
						<string>dark skin tone</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>preferred skin tone.</string>
			<key>label</key>
			<string>🌈 Skin Tone</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>skin_tone</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>Submarine</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Mute 🔕</string>
						<string></string>
					</array>
					<array>
						<string>Submarine 🤿</string>
						<string>Submarine</string>
					</array>
					<array>
						<string>Pop 🎉</string>
						<string>Pop</string>
					</array>
					<array>
						<string>Ping ✨</string>
						<string>Ping</string>
					</array>
					<array>
						<string>Purr 🐯</string>
						<string>Purr</string>
					</array>
					<array>
						<string>Hero ⚔️</string>
						<string>Hero</string>
					</array>
					<array>
						<string>Funk 🕺</string>
						<string>Funk</string>
					</array>
					<array>
						<string>Basso 🎧</string>
						<string>Basso</string>
					</array>
					<array>
						<string>Sosumi 📻</string>
						<string>Sosumi</string>
					</array>
					<array>
						<string>Glass 🍸</string>
						<string>Glass</string>
					</array>
					<array>
						<string>Blow 💨</string>
						<string>Blow</string>
					</array>
					<array>
						<string>Bottle 🍼</string>
						<string>Bottle</string>
					</array>
					<array>
						<string>Frog 🐸</string>
						<string>Frog</string>
					</array>
					<array>
						<string>Tink 🛎️</string>
						<string>Tink</string>
					</array>
					<array>
						<string>Morse ♨️</string>
						<string>Morse</string>
					</array>
					<array>
						<string>Classic 😃</string>
						<string>default</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>workflow notification sound.</string>
			<key>label</key>
			<string>🎷 Notification sound</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>sound</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>arg</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Desactivated</string>
						<string>False</string>
					</array>
					<array>
						<string>⏎</string>
						<string>arg</string>
					</array>
					<array>
						<string>⌘⏎</string>
						<string>cmd</string>
					</array>
					<array>
						<string>⌥⏎</string>
						<string>alt</string>
					</array>
					<array>
						<string>⌃⏎</string>
						<string>ctrl</string>
					</array>
					<array>
						<string>⇧⏎</string>
						<string>shift</string>
					</array>
					<array>
						<string>fn⏎</string>
						<string>fn</string>
					</array>
					<array>
						<string>⌘⌥⏎</string>
						<string>cmd+alt</string>
					</array>
					<array>
						<string>⌘⌃⏎</string>
						<string>cmd+ctrl</string>
					</array>
					<array>
						<string>⌘⇧⏎</string>
						<string>cmd+shift</string>
					</array>
					<array>
						<string>⌥⌃⏎</string>
						<string>alt+ctrl</string>
					</array>
					<array>
						<string>⌥⇧⏎</string>
						<string>alt+shift</string>
					</array>
					<array>
						<string>⌃⇧⏎</string>
						<string>ctrl+shift</string>
					</array>
					<array>
						<string>⌃⌥⏎</string>
						<string>ctrl+alt</string>
					</array>
					<array>
						<string>fn+⌘⏎</string>
						<string>fn+cmd</string>
					</array>
					<array>
						<string>fn+⌥⏎</string>
						<string>fn+alt</string>
					</array>
					<array>
						<string>fn+⌃⏎</string>
						<string>fn+ctrl</string>
					</array>
					<array>
						<string>fn+⇧⏎</string>
						<string>fn+shift</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Copy to clipboard</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>short_copy</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>cmd</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Desactivated</string>
						<string>False</string>
					</array>
					<array>
						<string>⏎</string>
						<string>arg</string>
					</array>
					<array>
						<string>⌘⏎</string>
						<string>cmd</string>
					</array>
					<array>
						<string>⌥⏎</string>
						<string>alt</string>
					</array>
					<array>
						<string>⌃⏎</string>
						<string>ctrl</string>
					</array>
					<array>
						<string>⇧⏎</string>
						<string>shift</string>
					</array>
					<array>
						<string>fn⏎</string>
						<string>fn</string>
					</array>
					<array>
						<string>⌘⌥⏎</string>
						<string>cmd+alt</string>
					</array>
					<array>
						<string>⌘⌃⏎</string>
						<string>cmd+ctrl</string>
					</array>
					<array>
						<string>⌘⇧⏎</string>
						<string>cmd+shift</string>
					</array>
					<array>
						<string>⌥⌃⏎</string>
						<string>alt+ctrl</string>
					</array>
					<array>
						<string>⌥⇧⏎</string>
						<string>alt+shift</string>
					</array>
					<array>
						<string>⌃⇧⏎</string>
						<string>ctrl+shift</string>
					</array>
					<array>
						<string>⌃⌥⏎</string>
						<string>ctrl+alt</string>
					</array>
					<array>
						<string>fn+⌘⏎</string>
						<string>fn+cmd</string>
					</array>
					<array>
						<string>fn+⌥⏎</string>
						<string>fn+alt</string>
					</array>
					<array>
						<string>fn+⌃⏎</string>
						<string>fn+ctrl</string>
					</array>
					<array>
						<string>fn+⇧⏎</string>
						<string>fn+shift</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Paste to frontmost application</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>short_paste</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>shift</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Desactivated</string>
						<string>False</string>
					</array>
					<array>
						<string>⏎</string>
						<string>arg</string>
					</array>
					<array>
						<string>⌘⏎</string>
						<string>cmd</string>
					</array>
					<array>
						<string>⌥⏎</string>
						<string>alt</string>
					</array>
					<array>
						<string>⌃⏎</string>
						<string>ctrl</string>
					</array>
					<array>
						<string>⇧⏎</string>
						<string>shift</string>
					</array>
					<array>
						<string>fn⏎</string>
						<string>fn</string>
					</array>
					<array>
						<string>⌘⌥⏎</string>
						<string>cmd+alt</string>
					</array>
					<array>
						<string>⌘⌃⏎</string>
						<string>cmd+ctrl</string>
					</array>
					<array>
						<string>⌘⇧⏎</string>
						<string>cmd+shift</string>
					</array>
					<array>
						<string>⌥⌃⏎</string>
						<string>alt+ctrl</string>
					</array>
					<array>
						<string>⌥⇧⏎</string>
						<string>alt+shift</string>
					</array>
					<array>
						<string>⌃⇧⏎</string>
						<string>ctrl+shift</string>
					</array>
					<array>
						<string>⌃⌥⏎</string>
						<string>ctrl+alt</string>
					</array>
					<array>
						<string>fn+⌘⏎</string>
						<string>fn+cmd</string>
					</array>
					<array>
						<string>fn+⌥⏎</string>
						<string>fn+alt</string>
					</array>
					<array>
						<string>fn+⌃⏎</string>
						<string>fn+ctrl</string>
					</array>
					<array>
						<string>fn+⇧⏎</string>
						<string>fn+shift</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Open Emoji Dictionary</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>short_web</string>
		</dict>
	</array>
	<key>version</key>
	<string>1.6.1</string>
	<key>webaddress</key>
	<string>https://github.com/BenjaminOddou/alfred-emoji-wine</string>
</dict>
</plist>
